* {
    margin: 0;
    padding: 0;
    font-family: 'Emilys Candy';
    font-size: 30px;
    box-sizing: border-box;
    text-align: center;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
body{
    background: no-repeat;
    background-size: cover;
}

.nav {
    background-color: aquamarine;
    list-style-type: none;
    text-align: center;
}

.nav li {
    display: inline-block;
    height: 8vmax;
}

.grid {
    display: grid;
    color: white;
    align-content: center;
    position: relative;
    top: 18vw;
    grid-gap: 10px;
    grid-template-areas: 
    "one two three";
}
.grid2 {
    display: grid;
    color: white;
    align-content: center;
    grid-gap: 10px;
    grid-template-areas: 
    "one two three";
}
.grid > div{
    text-align: center;
    border: 10px solid black;
    height: 20vmax;
}
.grid2 > div{
    text-align: center;
    border: 10px solid black;
    height: 525px;
}
.item1 {
    grid-area: one;
    /* grid-column-start: 1;
    grid-column-end: 2; */
}

.item2 {
    grid-area: two;
    /* grid-column-start: 2;
    grid-column-end: 3; */
}

.item3 {
    grid-area: three;
    /* grid-column-start: 3;
    grid-column-end: 4; */
}
footer{
    border: 10px solid black;
    position: relative;
    top: 19vw;
}
.title{
    position: relative;
    top: 100px;
    font-size: 100px;
}
.form{
    text-align: left;
    position: relative;
    top: 235px; 
    left: 550px;
}
input{
    text-align: left;
    font-size: 24px;
    color: rgb(48, 48, 48);
}
input#submit{
    color: black;
}
#text{
    max-width: 33vmax;
    font-size: 20px;
}
.copy{
    font-size: 18px;
    background-color: aquamarine;
}
p#text{
    color: red;
}